section#analysis li.header > p {
    font-size: 15px;
}
section#analysis li.keyword > span {
    padding: 0 6px;
    font-size: small;
    color: gray;
    background-color: var(--light-gray-color);
    background-color: #E0E6EA;
    border-radius: 3px;
}

/* Landscape 모드일 때 적용할 CSS */
@media (orientation: landscape) {
    section#analysis li.header .title {
        font-size: 19px;
    }
}