footer {
    margin-top: 3em;
    padding-top: 1.7em;
    color: #a7a7a7;
    background-color: #eeeeee;
}

@media screen and (min-width: 989px) {
    footer {
        padding-top: 1.3em;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}