header {
    background-color: var(--main-color);
    background-color: #333F50;
    margin-bottom: 2em;
}
header a {
    color: white;
    font-size: 18px;
}
header a:hover {
    color: white;
}

/* Landscape 모드일 때 적용할 CSS */
@media (orientation: landscape) {
    header {
        margin-bottom: 4em;
    }
    header a {
        font-size: 24px;
    }
}