<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미래 기술 시장 예측</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/assets/bootsnipp/css/AccordianMenu.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/analysis.css' %}">
</head>


<!-- <script>
    window.onload = function(){
        chart('{{data_set}}', '{{stock_name}}'); 
        close_chart('{{stock_close_date_list}}', '{{stock_close_price_list}}');
    }
</script> -->

<body class="bg-light" onload="chart('{{data_set}}', '{{stock_name}}', '{{stock_close_date_list}}', '{{stock_close_price_list}}');">
    <!-- 헤더 -->
    <header class="text-light">
        <h5 class="d-flex justify-content-center p-2">
            <a href="/StockWeb" class="font-weight-bold">미래 기술 시장 예측</a>
        </h5>
    </header>

    <!-- 사이드바 -->
    <aside class="float-right">
        <div id="jquery-accordion-menu" class="jquery-accordion-menu">
            <div class="jquery-accordion-menu-header">
                특허기반 미래기술
                <a href="/StockWeb/patentTop50">
                    <i id="more_btn" class="far fa-plus-square float-right mt-3 mr-3" style="cursor: pointer;"></i>
                </a>
            </div>
            <ul id="patent_kw">
                <li><a href="#">
                    <span class="rank text-warning mr-1">1</span>
                    <span class="kw">데이터 없음</span>
                    <span class="cnt text-warning">0000</span>
                </a></li>
            </ul>
        </div>
    </aside>

    <!-- 본문 -->
    <section id="analysis" class="d-flex flex-column justify-content-center align-items-cente">
        <!-- 기업정보 -->
        <article class="mb-4">
            <ul class="container py-2 pb-5 px-md-5 px-sm-4 bg-white rounded">
                <li class="header mt-3">
                    <h6 class="title font-weight-bold py-2">
                        <i class="fas fa-window-minimize fa-rotate-90"></i>
                        기업정보
                    </h6>
                </li>
                <li class="company_info border rounded p-3">
                    <table class="w-100">
                        <tr class="row">
                            <td class="col-4 col-md-2 mb-2 font-weight-bold">기업명</td>
                            <td class="col-8 col-md-4 mb-2">{{corp_name}}</td>
                            <td class="col-4 col-md-2 mb-2 font-weight-bold">종목코드</td>
                            <td class="col-8 col-md-4 mb-2">{{stock_code}}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-4 col-md-2 mb-2 font-weight-bold">대표자명</td>
                            <td class="col-8 col-md-4 mb-2">{{owner_name}}</td>
                            <td class="col-4 col-md-2 mb-2 font-weight-bold">업종</td>
                            <td class="col-8 col-md-4 mb-2">{{type_business}}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-4 col-md-2 mb-2 font-weight-bold">주요제품</td>
                            <td class="col-8 col-md-10 mb-2">{{main_products}}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-4 col-md-2 mb-2 font-weight-bold">상장일</td>
                            <td class="col-8 col-md-4 mb-2">{{stock_start_day}}</td>
                            <td class="col-4 col-md-2 mb-2 font-weight-bold">결산월</td>
                            <td class="col-8 col-md-4 mb-2">{{stock_settlement_date}}월</td>
                        </tr>
                        <tr class="row">
                            <td class="col-4 col-md-2 mb-2 font-weight-bold">주소</td>
                            <td class="col-8 col-md-10 mb-2">{{company_area}}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-4 col-md-2 font-weight-bold">홈페이지</td>
                            <td class="col-8 col-md-10"><a href='http://{{hompage_url}}' target="_blank" style="color: blue; text-decoration:underline;">{{hompage_url}}</a></td>
                        </tr>
                    </table>
                </li>
                <li class="header mt-5">
                    <h6 class="title font-weight-bold py-2">
                        <i class="fas fa-window-minimize fa-rotate-90"></i>
                        재무제표 요약
                    </h6>
                    <p>
                        {{corp_name}}의 재무제표를
                        <a class="btn btn-primary btn-sm font-weight-bold pt-0 m-0" href='{{xls_url}}' target="_blank" style="height: 21px; font-size: small;">다운로드</a>
                        받고 싶다면 버튼을 눌러주세요.
                    </p>
                </li>
                <li class="company_info">
                    <div class="text-right text-danger"><small>{{unit}}</small></div>
                </li>
                <li class="company_info border rounded p-3">
                    <table class="w-100">
                        <tr class="row">
                            <td class="col-4 col-md-2 mb-2 font-weight-bold">매출액</td>
                            <td class="col-8 col-md-4">{{sales_revenue}}</td>
                            <td class="col-4 col-md-2 mb-2 font-weight-bold">영업이익</td>
                            <td class="col-8 col-md-4">{{profit}}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-4 col-md-2 font-weight-bold">당기순이익</td>
                            <td class="col-8 col-md-10">{{income}}</td>
                        </tr>
                    </table>
                </li>
                <li class="chart mt-5">
                    <!-- candle 차트 그리기 -->
                    <div id="companyChart" class="w-100 h-100"></div>
                </li>
            </ul>
        </article>
        <!-- 언론사 -->
        <article>
            <ul class="container py-2 pb-4 px-md-5 px-sm-4 bg-white rounded">
                <li class="header mt-3">
                    <h6 class="title font-weight-bold py-2">
                        <i class="fas fa-window-minimize fa-rotate-90"></i>
                        분석에 사용된 언론사
                    </h6>
                </li>
                <li class="keyword pb-2">
                    <span>경향신문</span>
                    <span>국민일보</span>
                    <span>동아일보</span>
                    <span>한겨례</span>
                    <span>조선일보</span>
                </li>
            </ul>
        </article>
        <!-- 종가 그래프 -->
        <article>
            <ul class="container py-2 pb-5 px-md-5 px-sm-4 bg-white rounded">
                <li class="header mt-3">
                    <h6 class="title font-weight-bold py-2">
                        <i class="fas fa-window-minimize fa-rotate-90"></i>
                        20일 간의 종가 그래프
                    </h6>
                    <p>
                        네이버 뉴스에서 <span class="font-weight-bold">{{stock_name}}</span>에 대한 자료 중
                        <span class="font-weight-bold">{{start_date}}</span>부터
                        <span class="font-weight-bold">{{end_date}}</span>까지
                        <span class="font-weight-bold">{{news_cnt}}건</span>의 기사가 분석에 사용되었습니다.
                    </p>
                    <p>
                        <span class="stock_upDown font-weight-bold">{{next_day}}</span>의 예상 종가는
                        <span class="stock_upDown font-weight-bold">{{pred}}</span>원 입니다.
                        (전일대비 <span class="stock_upDown font-weight-bold">{{stock_price_diff}}원 <span id="up_down">{{up_down}}</span></span>)<br>
                    </p>
                </li>
                <li class="chart mt-5">
                    <!--종가 그래프가 그려질 부분-->
                    <canvas id="closeChart" class="w-100 h-100"></canvas>
                    <div class="text-danger text-right"><small>*오늘 또는 내일의 종가는 참고용으로만 사용하십시오.</small></div>
                </li>
            </ul>
        </article>
    </section>

    <!-- 푸터 -->
    <footer class="d-flex justify-content-center">
        <div class="container">
            <ul class="row">
                <li class="col-lg-3 col-md-12">
                    <h5 class="font-weight-bold">미래 기술 시장 예측</h5>
                </li>
                <li class="col" style="font-size: small;">
                    AI 활용 소프트웨어 개발 및 응용 파이썬 프로젝트<br>
                    팀명 : 오너&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;윤은경(팀장), 김영은, 김진섭, 노수빈, 하병노<br>
                    &#169; 2021 We're like the owners
                </li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap4 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <!-- HIGHCHARTS.js -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data-2012-2022.min.js"></script>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!-- My JS -->
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/analysis.js' %}"></script>
</body>
</html>