<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미래 기술 시장 예측</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/assets/bootsnipp/css/AccordlianMenu.min.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/analysis.css' %}">
</head>
<body class="bg-light">
    <!-- 헤더 -->
    <header class="text-light">
        <h5 class="d-flex justify-content-center p-2">
            <a href="/StockWeb" class="font-weight-bold">미래 기술 시장 예측</a>
        </h5>
    </header>

    <!-- 사이드바 -->
    <aside class="float-right">
        <div id="jquery-accordion-menu" class="jquery-accordion-menu">
            <div class="jquery-accordion-menu-header">특허기반 미래기술 <i id="more_btn" class="far fa-plus-square float-right mt-3 mr-3" style="cursor: pointer;"></i></div>
            <ul id="patent_kw">
                <li><a href="/StockWeb/patent">
                    <span class="rank text-warning mr-1">1</span> 
                    <span class="kw">데이터 없음</span>
                    <span class="cnt text-warning">0000</span>
                </a></li>
                <li><a href="#">
                    <span class="rank text-warning mr-1">2</span> 
                    <span class="kw">데이터 없음</span>
                    <span class="cnt text-warning">0000</span>
                </a></li>
                <li><a href="#">
                    <span class="rank text-warning mr-1">3</span> 
                    <span class="kw">데이터 없음</span>
                    <span class="cnt text-warning">0000</span>
                </a></li>
                <li><a href="#">
                    <span class="rank text-warning mr-1">4</span> 
                    <span class="kw">데이터 없음</span>
                    <span class="cnt text-warning">0000</span>
                </a></li>
                <li><a href="#">
                    <span class="rank text-warning mr-1">5</span> 
                    <span class="kw">데이터 없음</span>
                    <span class="cnt text-warning">0000</span>
                </a></li>
            </ul>
        </div>
    </aside>

    <!-- 본문 -->
    <section id="analysis" class="d-flex flex-column justify-content-center align-items-cente">
        <!-- 언론사 -->
        <article>
            <ul class="container py-2 pb-5 px-md-5 px-sm-4 bg-white rounded">
                <li class="header mt-3">
                    <h6 class="title font-weight-bold py-2">분석에 사용된 언론사</h6>
                </li>
                <li class="keyword">
                    <span>경향신문</span>
                    <span>국민일보</span>
                    <span>동아일보</span>
                    <span>한겨례</span>
                    <span>매일일보</span>
                    <span>조선일보</span>
                </li>
            </ul>
        </article>
        <!-- 종가 그래프 -->
        <article>
            <ul class="container py-2 pb-5 px-md-5 px-sm-4 bg-white rounded">
                <li class="header mt-3">
                    <h6 class="title font-weight-bold py-2">30일 간의 종가 그래프</h6>
                    <p>
                        네이버 뉴스에서 '검색어'에 대한 자료 중 1999-01-01부터 1999-01-01까지의 00건을 분석한 결과입니다. 오늘 또는 내일의 종가는 참고용으로만 사용하십시오.
                    </p>
                </li>
                <li id="closing_price_graph" class="mt-5">
                    <img class="w-100" src="https://t1.daumcdn.net/cfile/tistory/2767C4455934E5003B">
                    <p class="mt-3 text-danger" style="font-size: small;">
                        * MSE : 0.0001, RMSE : 0.0000001
                    </p>
                </li>
            </ul>
        </article>
        <!-- 상승여부 -->
        <article>
            <ul class="container py-2 pb-5 px-md-5 px-sm-4 bg-white rounded">
                <li class="header mt-3">
                    <h6 class="title font-weight-bold py-2">10일 이내의 주식 상승/하강 예측</h6>
                </li>
                <li id="closing_price_graph" class="mt-3">
                    <div style="max-height: 28em; overflow: hidden;">
                        <img class="w-100" src="https://img.hani.co.kr/imgdb/resize/2017/1103/1509590250_150959015436_20171103.JPG" style="margin-top: -4%">
                    </div>
                </li>
            </ul>
        </article>
    </section>

    <!-- 푸터 -->
    <footer class="d-flex justify-content-center">
        <div class="container">
            <ul class="row">
                <li class="col-lg-3 col-md-12">
                    <h5 class="font-weight-bold">미래 기술 시장 예측</h5>
                </li>
                <li class="col" style="font-size: small;">
                    AI 활용 소프트웨어 개발 및 응용 파이썬 프로젝트<br>
                    팀명 : 오너&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;윤은경(팀장), 김영은, 김진섭, 노수빈, 하병노<br>
                    &#169; 2021 We're like the owners
                </li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap4 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <!-- My JS -->
    <script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>