<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미래 기술 시장 예측</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body class="bg-light">
    <header class="text-light">
        <h5 class="d-flex justify-content-center p-2">
            <a href="/StockWeb" class="font-weight-bold">미래 기술 시장 예측</a>
        </h5>
    </header>

    <div>
        <!-- 특허 사이드바 -->
        <aside>
            rmfwk
        </aside>

        <!-- 본문 -->
        <section class="d-flex flex-column justify-content-center align-items-center" id="search">
            <!-- 검색 입력 폼 -->
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                    <input class="w-100" name="search_input" id="search_input" placeholder="종목을 입력해주세요">
                </li>
                <li class="list-group-item" id="search_btn" style="cursor: pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </li>
            </ul>
            <!-- 검색 결과 -->
            {{seachResult}}
            <ul class="py-3 list-group list-group-horizontal border" id="search_result">
                <li>
                    <table class="w-100 table-layout-fixed" id="res_table">
                        <colgroup>
                            <col width="70%">
                            <col>
                        </colgroup>
                        <tr>
                            <td class="pl-3 ellipsis">네어버어어어엉어어어어어어어오어엉어어어어어어어오</td>
                            <td class="text-center">000521</td>
                        </tr>
                        <tr>
                            <td class="pl-3 ellipsis">네어버어어어엉어어어어어어어오어엉어어어어어어어오</td>
                            <td class="text-center">000521</td>
                        </tr>
                    </table>
                </li>
                <li>
                    <table class="table-layout-fixed">
                        <tr>
                            <td class="pr-3"><button type="button" class="btn btn-outline-secondary btn-sm">선택</button></td>
                        </tr>
                        <tr>
                            <td class="pr-3"><button type="button" class="btn btn-outline-secondary btn-sm">선택</button></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </section>
    </div>

    <footer class="d-flex justify-content-center">
        <div class="container">
            <ul class="row">
                <li class="col-lg-3 col-md-12">
                    <h5 class="font-weight-bold">미래 기술 시장 예측</h5>
                </li>
                <li class="col" style="font-size: small;">
                    AI 활용 소프트웨어 개발 및 응용 파이썬 프로젝트<br>
                    팀명 : 오너&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;윤은경(팀장), 김영은, 김진섭, 노수빈, 하병노<br>
                    &#169; 2021 We're like the owners
                </li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap4 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- My JS -->
    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>